<div class="container">
  <form>
    <div class="row">
      <div class="col-lg-5">
        <div class="form-group form-inline">
          Recherche: <input class="form-control ml-2" type="text" [formControl]="filter" />
        </div>
      </div>
      <div class="col-lg-5"></div>
      <div class="col-lg-2">
        <button type="button" class="btn btn-primary" (click)="openLg(_reglement)">Ajouter</button>
      </div>
    </div>
    <ng-template #_reglement let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Ajouter Règlement</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" novalidate>
          <form [formGroup]="formGroup" class="form">
            <div class="row">
              <div class="col-lg-2">
                Référence
              </div>
              <div class="col-lg-4">
                <mat-form-field class="form-element">
                  <input matInput placeholder="R000" formControlName="refReglement">
                </mat-form-field>
              </div>
              <div class="col-lg-2">
                Delai
              </div>
              <div class="col-lg-4">
                <mat-form-field class="form-element">
                  <input matInput placeholder="2010-10-10" formControlName="delai">
                </mat-form-field>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-lg-2">
                Etat
              </div>

              <div class="col-lg-4">
                <mat-form-field class="form-element">
                  <input matInput placeholder="payé" formControlName="etat">
                </mat-form-field>
              </div>
              <div class="col-lg-2">
                Type
              </div>
              <div class="col-lg-4">
                <mat-form-field class="form-element">
                  <input matInput type="number" placeholder="1" formControlName="type">
                </mat-form-field>
              </div>

            </div> -->

            <div class="row">
              <div class="col-lg-2">
                Factures
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <ng-select2 formControlName="factures" [data]="Factures" [width]="200" [options]="options">
                  </ng-select2>
                </div>
              </div>
              <div class="col-lg-2">
                Client
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <ng-select2 formControlName="personnels" (valueChanged)="onchangeClient($event)" [data]="Personnels" [width]="200" [options]="op">
                  </ng-select2>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-2">
                Règlement partiel?
              </div>
              <div class="col-lg-4">
                <label class="container">
                  <input type="checkbox" id="box" formControlName="modePaiement" data-md-icheck
                    (change)="toggleVisibility($event)" />
                  <span class="checkmark"></span>
                  <mat-form-field class="form-element" *ngIf="marked">
                    <input matInput type="number" placeholder="monatant" formControlName="monatant">
                  </mat-form-field>
                </label>
              </div>

            </div>

          </form>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-element">
          <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid"
            (click)="Submit(id)">Envoyer
          </button>
        </div>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Annuler</button>
      </div>
    </ng-template>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Référence</th>
        <th scope="col">Date</th>
        <th scope="col">Date Limite</th>
        <th scope="col">Date Paiement</th>
        <th scope="col">Montant</th>
        <th scope="col">Etat</th>
        <th scope="col">Type</th>

        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>


      <tr *ngFor="let reglement of Reglements; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <ngb-highlight [result]="reglement.refReglement "></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="reglement.date | date:'dd/MM/yyyy'"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="reglement.delai | date:'dd/MM/yyyy'"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="reglement.dateP | date:'dd/MM/yyyy'"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="reglement.monatant | number"></ngb-highlight>
        </td>
        <td>
          <P *ngIf="reglement.etat == false"
            style="color: red;font-family: cursive;font-style: oblique;font-variant: petite-caps;font-size: medium;">Non
            Payé</P>
          <P *ngIf="reglement.etat == true"
            style="color: green;font-family: cursive;font-style: oblique;font-variant: petite-caps;font-size: larger;">
            Payé</P>

        </td>
        <td>
          <P *ngIf="reglement.type == false">
           Total </P>
          <P *ngIf="reglement.type == true">

             Partiel</P>

        </td>
        <td style=" width: 124px; ">
          <div class="row" style=" width: 100px; ">
            <div class="col-md-2">
              <a (click)="editReglement(reglement.id, reglement.refReglement, reglement.date, reglement.delai,
              reglement.monatant,reglement.factures, reglement.personnels,reglement.etat,_reglement)">
                <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
              </a>
            </div>
            <div class="col-md-2">
              <a (click)="deleteReglement(reglement.id)">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
              </a>
            </div>
            <div class="col-md-2">
              <a *ngIf="reglement.etat==false" (click)="etatReg(reglement.id)" >
                <mat-icon>payment</mat-icon>
              </a>
            </div>
          </div>

        </td>

        <td>
          <a href="#">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
